version: '3.8'

services:

  db:
    image: mysql:8.0
    container_name: flask_mysql_db
    restart: always

    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: flask_auth_db
      MYSQL_USER: flask_user
      MYSQL_PASSWORD: flask_password

    ports:
      - "3307:3306"

    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

    networks:
      - flask-network

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-prootpassword"]
      interval: 10s
      timeout: 5s
      retries: 5


  web:
    image: ${ECR_URI}/my-app:${IMAGE_TAG}
    container_name: flask_web_app
    restart: always

    ports:
      - "5000:5000"

    environment:
      DB_HOST: db
      DB_NAME: flask_auth_db
      DB_USER: flask_user
      DB_PASSWORD: flask_password
      DB_PORT: 3306

    depends_on:
      - db

    networks:
      - flask-network


volumes:
  mysql_data:


networks:
  flask-network:
    driver: bridge
